@media (max-width:400px) {
    body {
        background-color: var(--Cinza-escuro);
    }
    main {
        width: 100%;
        height: 100%;
    }
    
    .linkRedes div:hover {
        background-color: var(--Cinza);
        color: var(--Branco);
    }

    .linkRedes div {
        transition: .4s;

    }
    
    .linkRedes div:active{
        background-color: var(--Verde);
        color: var(--Preto);
    }
}
